.global_section {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    background: #fff;

    .global_section_head {
        width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .global_section_head_left {
            max-width: 100%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 12px;

            @media (min-width: 768px) and (max-width: 991px) {
                width: 50%;
            }


            .h_text_1 {
                font-size: calc(26px + 16 * (100vw - 320px) / 1080);
                font-weight: 500;
                line-height: 124%;
                color: var(--text-color-1);
            }

            .p_text_1 {
                font-size: calc(16px + 2 * (100vw - 320px) / 1080);
                font-weight: 500;
                line-height: 124%;
                color: var(--text-color-2);
                font-family: "Urbanist", sans-serif;
                text-align: start;

                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 16px;
                }
            }
        }

        .p_text_2 {
            font-size: calc(14px + 2 * (100vw - 320px) / 1080);
            font-weight: 500;
            line-height: 124%;
            color: var(--text-color-2);
            font-family: "Urbanist", sans-serif;

            @media (min-width: 768px) and (max-width: 991px) {
                width: 50%;
            }
        }
    }

    .global_card_wrapper {
        position: relative;
        width: 100%;
        max-height: 100%;
        display: flex;
        align-items: center;
    }


    .global_card_section {
        width: 100%;
        height: 100%;
        padding-left: 18%;
        margin-top: 40px;
        display: flex;
        gap: 10px;

        @media (max-width: 1600px) {
            padding-left: 10px;
        }



    }


    .global_card {
        width: 100%;
        height: 480px;
        backdrop-filter: blur(32px);
        background: #0000003D;
        border-radius: 24px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        @media (min-width: 768px) and (max-width: 991px)  {
                height: 380px;
        }
       

        @media (max-width: 767px) {
            height: 380px;
        }

        .card_img {
            width: 100%;
            height: auto;
        }

        .card_content {
            width: 100%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
            padding: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;

            .p_text_3 {
                font-size: 20px;
                font-weight: 500;
                color: var(--text-white);

                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }

            .p_text_4 {
                font-size: 16px;
                font-weight: 400;
                color: #FFFFFFCC;

                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }

        }
    }
}