 :global(.contact-modal .modal-content) {
     border-radius: 24px;
     padding: 0 !important;
    //  box-shadow: 0px 8px 24px 0px #959DA533;
     overflow-x: hidden;
 }


 @media (max-width: 767px) {
     :global(.contact-modal .modal-content) {
         border-radius: 20px;
         padding: 0 !important;
         overflow-x: hidden;

     }
 }

 .contact_modal {
     border-radius: 24px;
     overflow-x: hidden;
     --bs-modal-width: 340px;

     @media (min-width: 992px) {
         --bs-modal-width: 892px !important;
     }




     .contact_body_wrapper {
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         padding: 0px !important;
         position: relative;

         .contact_img {
             border-top-left-radius: 24px;
             border-bottom-left-radius: 24px;

         }

         .btn_close {
             width: 32px;
             height: 32px;
             position: absolute;
             top: 10px;
             left: 10px;
             background: linear-gradient(135deg, #FFFFFF 0%, #CACACA 100%);
             border: none;
             border-radius: 12px;
             padding: 1px;



             span {
                 width: 100%;
                 height: 100%;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 background: #b2b3b6;
                 border-radius: 12px;
                 font-size: 20px;
                 color: #fff;
             }


         }

         .contact_body_right {
             width: 100%;
             height: 546px;
             background: #FFFFFF;
             padding: 40px 20px;
             display: flex;
             flex-direction: column;
             align-items: flex-start;
             justify-content: flex-start;
             gap: 12px;
             border-top-right-radius: 24px;
             border-bottom-right-radius: 24px;

             @media (min-width: 768px) and (max-width: 991px) {
                 margin-top: 10px;
             }

             @media (max-width: 767px) {
                 width: 100%;
                 height: 100%;
                 padding: 20px;
                 margin-top: 30px;
                 padding-bottom: 50px;
             }



             .h_text_1 {
                 font-size: 22px;
                 font-weight: 500;
                 letter-spacing: 0%;
                 color: #130601;

                 @media (max-width: 767px) {
                     font-size: 20px;
                 }

             }

             .p_text_1 {
                 font-size: 14px;
                 font-family: "Urbanist", sans-serif;
                 font-weight: 500;
                 line-height: 124%;
                 letter-spacing: 2%;
                 color: #6C6C6C;
             }

             .contact_form {
                 width: 100%;
                 height: 100%;
                 display: grid;
                 grid-template-columns: repeat(2, 1fr);
                 align-items: center;
                 gap: 8px;

                 @media (max-width: 767px) {
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     justify-content: flex-start;
                 }

                 &>*:first-child {
                     grid-column: 1 / -1;
                 }

                 &>*:nth-child(2) {
                     grid-column: 1 / -1;
                 }


                 &>*:last-child {
                     grid-column: 1 / -1;
                 }

                 .input_container {
                     width: 100%;
                     max-height: 100%;
                     display: flex;
                     flex-direction: column;
                     align-items: flex-start;
                     justify-content: flex-start;
                     gap: 4px;

                     .label {
                         font-size: 12px;
                         font-weight: 500;
                         color: #6C6C6C;
                     }

                     .input_group {
                         width: 100%;
                         height: 42px;
                         border: 1px solid #DED6CE;
                         border-radius: 12px;
                         display: flex;
                         justify-content: space-between;
                         align-items: center;

                         span {
                             width: fit-content;
                             height: 100%;
                             padding: 0px 10px;
                             font-size: 14px;
                             font-weight: 400;
                             color: #6C6C6C;
                             border-right: 1px solid #DED6CE;
                             display: flex;
                             justify-content: center;
                             align-items: center;
                         }

                         .form_control_contact {
                             width: 100%;
                             height: 100%;
                             border-radius: 12px;
                             padding: 0px 10px;
                             border: none;

                             &::placeholder {
                                 font-size: 14px;
                                 font-weight: 400;
                                 color: #CCCCCC;
                             }
                         }
                     }

                     .form_control {
                         width: 100%;
                         height: 42px;
                         border: 1px solid #DED6CE;
                         border-radius: 12px;
                         padding: 0px 10px;

                         &::placeholder {
                             font-size: 14px;
                             font-weight: 400;
                             color: #CCCCCC;
                         }
                     }

                     .phone_number_container {
                         width: 100%;
                         height: 42px;
                         border: 1px solid #DED6CE;
                         background: none;
                         border-radius: 12px;
                         padding: 0px 10px;
                         display: flex;
                         justify-content: space-between;
                         align-items: center;
                         font-size: 14px;
                         font-weight: 400;
                         color: #6C6C6C;

                         .phone_dropdown {
                             width: 80px;
                             max-height: 100%;
                             position: relative;
                             display: inline-block;

                             .btn_drop_phone {
                                 width: 100%;
                                 height: 42px;
                                 background: none;
                                 display: flex;
                                 justify-content: center;
                                 align-items: center;
                                 gap: 4px;
                                 font-size: 14px;
                                 font-weight: 400;
                                 color: #6C6C6C;
                                 border: none;
                                 text-wrap: nowrap;

                                 .arrow {
                                     font-size: 14px;
                                     color: #6C6C6C;
                                     transition: transform 0.3s ease;

                                 }
                             }

                             .phone_menu {
                                 position: absolute;
                                 top: 100%;
                                 left: -10px;
                                 background: white;
                                 border: 1px solid #DED6CE;
                                 border-radius: 12px;
                                 margin-top: 5px;
                                 z-index: 1000;


                                 .phone_menu_container {
                                     width: 250px;
                                     height: 180px;
                                     overflow-y: auto;
                                     scrollbar-width: none;
                                     -ms-overflow-style: none;
                                     position: relative;

                                     &::-webkit-scrollbar {
                                         display: none;
                                     }

                                     .searc_input {
                                         width: 100%;
                                         height: 35px;
                                         position: sticky;
                                         border: none;
                                         top: 0;
                                         left: 0;
                                         background: none;
                                         padding: 0px 10px;
                                         border-bottom: 1px solid #000;
                                         background: #fff;
                                         border-top-left-radius: 12px;
                                         border-top-right-radius: 12px;

                                     }
                                 }

                                 .phone_item {
                                     width: 100%;
                                     height: 30px;
                                     display: flex;
                                     justify-content: flex-start;
                                     align-items: center;
                                     padding: 0px 10px;
                                     cursor: pointer;
                                 }
                             }
                         }

                         .phone_control {
                             width: 100%;
                             height: 100%;
                             border-radius: 12px;
                             padding: 0px 10px;
                             border: none;

                             &::placeholder {
                                 font-size: 14px;
                                 font-weight: 400;
                                 color: #CCCCCC;
                             }
                         }
                     }

                     .dropdown {
                         width: 100%;
                         max-height: 100%;
                         position: relative;
                         display: inline-block;

                         .btn_drop {
                             width: 100%;
                             height: 42px;
                             border: 1px solid #DED6CE;
                             background: none;
                             border-radius: 12px;
                             padding: 0px 10px;
                             display: flex;
                             justify-content: space-between;
                             align-items: center;
                             font-size: 14px;
                             font-weight: 400;
                             color: #6C6C6C;

                             .arrow {
                                 font-size: 14px;
                                 color: #6C6C6C;
                                 transition: transform 0.3s ease;

                             }
                         }

                         .dropdown_menu {
                             position: absolute;
                             top: 100%;
                             left: 0;
                             width: 100%;
                             height: 180px;
                             background: white;
                             border: 1px solid #DED6CE;
                             border-radius: 12px;
                             margin-top: 5px;
                             z-index: 1000;
                             display: flex;
                             justify-content: flex-start;
                             align-items: center;
                             padding: 0;

                             &::-webkit-scrollbar {
                                 display: none;
                             }

                             .dropdown_menu_container {
                                 width: 100%;
                                 height: 100%;
                                 overflow-y: auto;
                                 scrollbar-width: none;
                                 -ms-overflow-style: none;
                                 position: relative;

                                 .country_form_control {
                                     width: 100%;
                                     height: 35px;
                                     position: sticky;
                                     border: none;
                                     top: 0;
                                     left: 0;
                                     background: none;
                                     padding: 0px 10px;
                                     border-bottom: 1px solid #000;
                                     background: #fff;
                                     border-top-left-radius: 12px;
                                     border-top-right-radius: 12px;
                                 }

                                 @media (max-width: 767px) {
                                     height: 150px;
                                 }

                             }

                             .dropdown_item {
                                 width: 100%;
                                 height: 25px;
                                 font-size: 14px;
                                 font-weight: 400;
                                 color: #6C6C6C;
                                 display: flex;
                                 justify-content: flex-start;
                                 align-items: center;
                                 cursor: pointer;
                                 padding: 0px 10px;
                             }
                         }

                     }
                 }

                 .btn_submit {
                     width: 100%;
                     height: 42px;
                     border: none;
                     background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 50%);
                     border-radius: 100px;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     padding: 1px;

                     span {
                         width: 100%;
                         height: 100%;
                         border-radius: 100px;
                         background: #6D2902;
                         font-size: 14px;
                         font-weight: 500;
                         color: #FFFFFF;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                     }

                 }

             }
         }
     }

 }