.scroll_container {
    width: 100%;
    height: 100%;
    padding: 100px;
    position: relative;


    .card {
        width: 100%;
        height: 500px;
        background-color: red;
        border-radius: 30px;
        position: sticky;
        top: 100px;
        left: 0;
    }

    .card_2 {
        width: 100%;
        height: 500px;
        background-color: blue;
        border-radius: 30px;

        position: sticky;
        top: 200px;
        left: 0;
    }

    
    .card_3 {
        width: 100%;
        height: 500px;
        background-color: green;
        border-radius: 30px;

        position: sticky;
        top: 300px;
        left: 0;
    }
}