.scroll_section {
    width: 100%;
    position: relative;
    height:  100vh;
    view-timeline-name: --horizontalScroll;
    view-timeline-axis: block;
}

.sticky_container {
    position: sticky;
    top: 100px;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 18%;

    @media (max-width: 1600px) {
        padding-left: 10%;
    }
}

.cards_wrapper {
    display: flex;
    width: max-content;
    height: 100%;
    gap: 40px;
    transform: translateX(0);

    /* Scroll-driven animation */
    animation: horizontalMove linear both;
    animation-timeline: --horizontalScroll;
    animation-range: entry 0% exit 100%;
}

.global_card {
    width: 400px;
    height: 480px;
    flex: 0 0 400px;
    backdrop-filter: blur(32px);
    background: #0000003d;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    @media (max-width: 767px) {
        width: 300px;
        height: 380px;
    }

    .card_img {
        width: 100%;
        height: auto;
    }

    .card_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;

        .p_text_3 {
            font-size: 20px;
            font-weight: 500;
            color: var(--text-white);
        }

        .p_text_4 {
            font-size: 18px;
            font-weight: 400;
            color: #ffffffcc;

            @media (max-width: 767px) {
                font-size: 16px;
            }
        }
    }
}

@keyframes horizontalMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-3.2 * (100% - 100vw + 18%)));
    }
}



@media (max-width: 1600px) {
    @keyframes horizontalMove {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(calc(-1.2 * (100% - 100vw + 18%)));
        }
    }
}