.london_section {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 767px) {
        padding: 50px 0px;
    }

    .london_container {
        width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .h_text_1 {
            font-size: 40px;
            font-weight: 500;
            color: #B87333;
            text-align: center;

            @media (max-width: 767px) {
                font-size: 32px;
            }

            span {
                color: #2A2A2A;
            }

        }

        .bridge_content {
            width: 375px;
            height: 340px;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            z-index: 1;

            @media (max-width: 420px) {
                width: 250px !important;

            }


            &:hover {
                .bridge_img {
                    bottom: -20px;
                    transform: scale(1.05);
                }
            }

            // .bridge_img {
            //     width: 100%;
            //     height: auto;
            //     position: absolute;
            //     bottom: -40px;
            //     z-index: -1;
            //     transition: all 0.6s ease;
            //     transform: scale(1);

            //     @media (max-width: 767px) {
            //         width: 90%;
            //     }

            // }



            .bridge_wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                perspective: 1000px;
                position: absolute;
                bottom: -40px;
                z-index: -1;
            }

            .bridge_container {
                position: relative;
                width: 375px;
                height: 400px;
                border-radius: 20px;
                overflow: hidden;
                transform-style: preserve-3d;
                transition: transform 0.2s ease-out;
                cursor: pointer;


                @media (max-width: 767px) {
                    width: 200px;
                    height: 320px;
                }

                &:hover {
                    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) scale(1.08);
                }
            }

            .bridge_img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                object-fit: cover;
                pointer-events: none;
                user-select: none;
                transition: transform 0.2s ease-out;

                @media (max-width: 767px) {
                    width: 200px;
                    height: 320px;
                }
            }






            .bridge_score_content {
                width: 276px;
                height: 99px;
                -webkit-backdrop-filter: blur(40px);
                backdrop-filter: blur(40px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4px;

                @media (max-width: 767px) {
                    width: 200px;
                    height: 80px;
                }

                .p_text_1 {
                    font-size: 24px;
                    font-weight: 700;
                    color: var(--text-color-1);

                    span {
                        font-size: 14px;
                    }
                }

                .p_text_2 {
                    font-size: 14px;
                    font-weight: 700;
                    color: #53FF9D;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 2px;
                }

                .p_text_2_red {
                    font-size: 14px;
                    font-weight: 700;
                    color: red;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 2px;

                    img {
                        filter: brightness(0) saturate(100%) invert(12%) sepia(86%) saturate(7484%) hue-rotate(3deg) brightness(105%) contrast(115%);
                        transform: rotate(-180deg);
                    }
                }
            }
        }

        .round_animation {
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 9%;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: -2;

            @media (max-width: 767px) {
                top: 20%;
            }
        }

        .round_container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }


        .round {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background: #ebd9c7;
            position: relative;
            z-index: 2;

            @media (max-width: 420px) {
                width: 220px;
                height: 220px
            }
        }

        .ripple {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 1px solid #ebd9c7;
            transform: translate(-50%, -50%) scale(0);
            animation: rippleWave 6s infinite;
            opacity: 0;

            @media (max-width: 767px) {
                width: 180px;
                height: 180px;
            }

            @media (max-width: 767px) {
                width: 120px;
                height: 120px;
            }
        }

        .ripple:nth-child(1) {
            animation-delay: 0s;
        }

        .ripple:nth-child(2) {
            animation-delay: 1.5s;
        }

        .ripple:nth-child(3) {
            animation-delay: 2.5s;
        }

        .ripple:nth-child(4) {
            animation-delay: 3.5s;
        }




        @keyframes rippleWave {
            0% {
                transform: translate(-50%, -50%) scale(0.5);
                opacity: 0.6;
            }

            70% {
                opacity: 0.3;
            }

            100% {
                transform: translate(-50%, -50%) scale(2.5);
                opacity: 0;
            }
        }
    }


}