.leadership_section {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;

    .h_text_1 {
        font-size: calc(26px + 16 * (100vw - 320px) / 1080);
        font-weight: 500;
        line-height: 124%;
        color: var(--text-color-1);
    }

    .p_text_1 {
        font-size: calc(16px + 2 * (100vw - 320px) / 1080);
        font-weight: 500;
        line-height: 124%;
        color: var(--text-color-2);
        font-family: "Urbanist", sans-serif;
        text-align: center;
    }

    .leadership_content {
        width: 100%;
        max-height: 100%;
        margin-top: 30px;

        .leadership_content_left {
            width: 90%;
            height: 100%;
            position: relative;
            background: #3F1403;
            border-radius: 24px;

     .progressive_blur_container {
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                z-index:  1;
                width: 100%;
                height: 30%;
                pointer-events: none;

                .blur_filter {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;

                    &:nth-child(1) {
                        backdrop-filter: blur(1px);

                        mask:  rgba(0,0,0,0.06)
                    }

                    &:nth-child(2) {
                       backdrop-filter: blur(2px);
                        mask:  rgba(0,0,0,0.06)
                    }

                    &:nth-child(3) {
                            backdrop-filter: blur(1px);
                        mask:  rgba(0,0,0,0.06)
                    }

                    &:nth-child(4) {
                           backdrop-filter: blur(1px);
                        mask:  rgba(0,0,0,0.06)
                    }

                    &:nth-child(5) {
                 backdrop-filter: blur(1px);
                        mask:  rgba(0,0,0,0.06)
                    }

                    &:nth-child(6) {
                        backdrop-filter: blur(2px);
                        mask:  rgba(0,0,0,0.06)
                    }

                    &:nth-child(7) {
                       backdrop-filter: blur(3px);
                        mask:  rgba(0,0,0,0.06)
                    }
                }

                .gradient {
                    position: absolute;
                    inset: 0;
                    background: #0000000F;
                }
            }


            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: url("../../../../assets/images/Pattern.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }


            @media (max-width:1600px) {
                width: 100%;
                height: 100%;
            }

            @media (max-width: 767px) {
                width: 100% !important;
                height: 100%;
            }

            .founder_img {
                width: 100%;
                height: auto;
                border-radius: 24px;

            }

            @media (max-width: 767px) {
                .content_bottom {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 7px;
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    padding: 0px 10px;

                    .certified_trader_container {
                        position: static;
                    }

                    .exp_content {
                        position: static;
                    }
                }

            }

            .certified_trader_container {
                width: fit-content;
                height: 60px;
                background: linear-gradient(138.58deg, rgba(201, 201, 201, 0.5) 0%, rgba(132, 132, 132, 0.1) 100%);
                box-shadow: 0px 7px 29px 0px #64646F33;
                border-radius: 200px;
                padding: 1px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 40%;
                right: -60px;
                    z-index: 3;

                @media (max-width: 767px) {
                    width: 100%;
                    height: 40px;
                }

                span {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(94.73deg, #E7B482 0.22%, #A55631 100.22%);
                    padding: 0px 24px;
                    border-radius: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 700;
                    color: var(--text-white);
                    letter-spacing: 0%;

                    @media (max-width: 767px) {
                        font-size: 12px;
                        text-wrap: nowrap;
                        padding: 0px 16px;
                    }
                }
            }

            .exp_content {
                width: fit-content;
                height: 60px;
                background: linear-gradient(138.58deg, rgba(201, 201, 201, 0.5) 0%, rgba(132, 132, 132, 0.1) 100%);
                box-shadow: 0px 7px 29px 0px #64646F33;
                border-radius: 200px;
                padding: 1px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 60px;
                left: 40px;
                z-index: 3;

                @media (max-width: 767px) {
                    width: 100%;
                    height: 40px;
                }

                span {
                    width: 100%;
                    height: 100%;
                    background: #FFFFFF;
                    padding: 0px 24px;
                    border-radius: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 700;
                    color: var(--text-color-1);
                    letter-spacing: 0%;

                    @media (max-width: 767px) {
                        font-size: 12px;
                        text-wrap: nowrap;
                        padding: 0px 16px;
                    }
                }

            }
        }

        .leadership_content_right {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 8px;
            padding-left: 120px;

            @media (min-width: 768px) and (max-width: 991px) {
                padding-left: 40px;
            }

            @media (max-width: 767px) {
                padding: 0;
            }

            .h_text_2 {
                font-size: 28px;
                font-weight: 500;
                line-height: 124%;
                color: var(--text-color-1);
                letter-spacing: 0%;
            }

            .p_text_2 {
                font-size: 20px;
                font-weight: 500;
                text-transform: uppercase;
                color: #6D2902;

                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }

            .p_text_3 {
                font-size: 18px;
                font-weight: 500;
                font-family: "Urbanist", sans-serif;
                color: var(--text-color-2);
                letter-spacing: 0%;
                line-height: 124%;
                width: 90%;

                @media (max-width: 767px) {
                    width: 100%;
                    font-size: 14px;
                }

            }
        }
    }

    .leadership_card_section {
        width: 100%;
        max-height: 100%;
        margin-top: 80px;

        @media (max-width: 767px) {
            margin-top: 30px;
        }

        .leadership_card {
            width: 100%;
            height: 100%;
            border-radius: 24px;
            position: relative;
            background:
                linear-gradient(94.73deg, #E7B482 0.22%, #A55631 100.22%);
            overflow: hidden;




            .progressive_blur_container {
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                z-index:  1;
                width: 100%;
                height: 40%;
                pointer-events: none;

                .blur_filter {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;

                    &:nth-child(1) {
                        backdrop-filter: blur(1px);

                        mask:  rgba(0,0,0,0.06)
                    }

                    &:nth-child(2) {
                       backdrop-filter: blur(2px);
                        mask:  rgba(0,0,0,0.06)
                    }

                    &:nth-child(3) {
                            backdrop-filter: blur(1px);
                        mask:  rgba(0,0,0,0.06)
                    }

                    &:nth-child(4) {
                           backdrop-filter: blur(1px);
                        mask:  rgba(0,0,0,0.06)
                    }

                    &:nth-child(5) {
                 backdrop-filter: blur(1px);
                        mask:  rgba(0,0,0,0.06)
                    }

                    &:nth-child(6) {
                        backdrop-filter: blur(2px);
                        mask:  rgba(0,0,0,0.06)
                    }

                    &:nth-child(7) {
                       backdrop-filter: blur(3px);
                        mask:  rgba(0,0,0,0.06)
                    }
                }

                .gradient {
                    position: absolute;
                    inset: 0;
                    background: #0000000F;
                }
            }





            // &::before {
            //     content: "";
            //     width: 100%;
            //     height: 100%;
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            //       z-index: 10000;
            //      background:url("../../../../assets/images/Blur\ Shai.png");
            //      background-position: center;
            //      background-size: cover;
            //      background-position: center;
            // }

            .card_img {
                width: 100%;
                height: auto;
            }

            .card_body {
                width: 90%;
                max-height: 100%;
                border-radius: 20px;
                background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 50%);
                padding: 1;
                position: absolute;
                bottom: 16px;
                left: 50%;
                z-index: 2;
                transform: translateX(-50%);


                .card_content {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    -webkit-backdrop-filter: blur(40px);
                    backdrop-filter: blur(40px);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    padding: 12px 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 4px;

                    .name {
                        font-size: 20px;
                        font-weight: 700;
                        color: var(--text-white);
                    }

                    .role {
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 2%;
                        font-family: "Urbanist", sans-serif;
                        color: var(--text-white);
                        text-transform: uppercase;
                    }
                }

            }

        }
    }
}