.banner_section {
    width: 100%;
    height: calc(100dvh - 80px);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    @media (max-width: 1500px) {
        width: 1204px;
        height: 100%;
    }


    @media (min-width:300px) and (max-width: 991px) {
        flex-direction: column;
    }


    @media (min-width: 300px) and (max-width: 991px) {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .banner_container {
        width: 1800px;
        height: 100%;
        border-radius: 30px;
        position: relative;
        z-index: 1;
        // overflow: hidden;
        padding: 100px 70px;
        background: #00000033;

        // backdrop-filter: blur(20px);



        @media (max-width: 1500px) {
            width: 100%;
            height: 645px;
            padding: 70px;
        }


        @media (min-width: 991px) and (max-width: 991px) {
            width: 100%;
            height: 645px;
        }

        @media (max-width: 767px) {
            width: 100%;
            height: 645px;
            padding: 0px 20px;
        }


        .banner_content_top {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 24px;


            @media (max-width: 767px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }

            .h_text_1 {
                font-size: 56px;
                font-weight: 500;
                background: linear-gradient(360deg, #FFFFFF 0%, #DEDEDE 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;

                @media (max-width: 767px) {
                    font-size: 30px;
                }
            }

            .p_text_1 {
                font-size: 20px;
                font-weight: 400;
                color: #DEDEDE;
                font-family: "Urbanist", sans-serif;
            }

            .btn_container {
                width: 100%;
                max-height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                border-radius: 28px;

                @media (max-width: 767px) {
                    flex-direction: column;
                }
            }

        }

        .scroll_container {
            width: 40%;
            max-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .mouse_container {
                width: 14px;
                height: 20px;
                border-radius: 29px;
                background: linear-gradient(130.6deg, rgba(255, 255, 255, 0.105) 8.27%, rgba(255, 255, 255, 0.308) 90%);
                box-shadow: 0px 0px 3px 0px #A6A6A661 inset;
                box-shadow: 0px 0px 4px 0px #A9A9A91A;
                backdrop-filter: blur(2px);
                overflow: hidden;

                .mouse {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(131.73deg,
                            rgba(255, 255, 255, 0.26) -36.04%,
                            rgba(221, 221, 221, 0.12) 52.66%,
                            rgba(130, 130, 130, 0.04) 139.54%);
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 4px;

                    .span {
                        width: 2px;
                        height: 4px;
                        box-shadow: 0px 0px 2px 0px #d9d9d9;
                        background: #fff;
                        border-radius: 1px;
                        animation: moveUpDown 1.5s ease-in-out infinite;
                    }
                }

                /* Animation keyframes */
                @keyframes moveUpDown {
                    0% {
                        transform: translateY(0);
                        opacity: 1;
                    }

                    50% {
                        transform: translateY(8px);
                        opacity: 0.5;
                    }

                    100% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }

            .p_scroll {
                font-size: 16px;
                font-weight: 500;
                color: #fff;
            }

        }

        &::before {
            content: "";
            width: 100px;
            height: 100px;
            position: absolute;
            bottom: 160px;
            right: -12px;
            background-color: white;
            z-index: -1;
            border-bottom-right-radius: 30px;
            clip-path: polygon(88% 71%, 100% 6%, 100% 100%, 0 99%, 26% 96%, 40% 93%, 54% 91%, 63% 88%, 74% 85%, 83% 79%);


            @media (min-width: 300px) and (max-width: 991px) {
                display: none;
            }
        }



        .btn_explore {
            @media (max-width: 767px) {
                width: 100%;
            }
        }


        .btn_connect {
            width: fit-content;
            max-height: 100%;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 50%);
            border: none;
            border-radius: 100px;
            padding: 1px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 767px) {
                width: 100%;
            }

            span {
                width: 100%;
                height: 47px;
                background: #FFFFFF1A;
                font-size: 16px;
                font-weight: 500;
                line-height: 100%;
                color: var(--text-white);
                padding: 0px 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                border-radius: 100px;
            }
        }




        .banner_vdo_content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -3;
            border-radius: 28px;
            overflow: hidden;

            .vdo_blur {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                background: #00000033;
                backdrop-filter: blur(2px);
            }
        }


    }





    .banner_bottom_content {
        width: 50%;
        height: 190px;
        background-color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
        border-top-left-radius: 30px;


        @media (min-width: 300px) and (max-width: 991px) {
            width: 100%;
            position: static;
        }


        .banner_bottom_container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 20px;
            position: relative;
            padding: 20px 40px;

            @media (max-width: 767px) {
                padding: 20px 0px;
            }



            .square_img {
                width: 100px;
                height: 100px;
                position: absolute;
                bottom: -7px;
                left: -91px;
                z-index: 11;
                transform: translate(0, 0);
                // filter: brightness(0) saturate(100%) invert(20%) sepia(28%) saturate(5816%) hue-rotate(355deg) brightness(95%) contrast(87%);
            }

            .square_img_right {
                width: 100px;
                height: 100px;
                position: absolute;
                top: -93px;
                right: -9px;
                z-index: 11;
                transform: translate(0, 0);
                // filter: brightness(0) saturate(100%) invert(20%) sepia(28%) saturate(5816%) hue-rotate(355deg) brightness(95%) contrast(87%);
            }



        }




        .p_text_2 {
            font-size: 16px;
            font-weight: 400;
            color: #B87333;
            font-family: "Urbanist", sans-serif;
        }

        .bottom_container {
            width: 100%;
            max-height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .bottom_content {
                width: 100%;
                max-height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 5px;

                @media (max-width: 767px) {
                    img {
                        width: 100px;
                    }
                }


                .p_text_3 {
                    font-size: 44px;
                    font-weight: 500;
                    color: #2A2A2A;

                    @media (max-width: 767px) {
                        font-size: 24px;
                    }
                }

                .p_text_4 {
                    font-size: 16px;
                    font-weight: 400;
                    color: #6C6C6C;


                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                }

            }
        }


    }
}