 .what_section {
     width: 100%;
     background: #130601;
     padding: 80px 0;

     .what_section_head {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 20px;

         @media (max-width: 767px) {
            
             flex-direction: column;
             align-items: flex-start;
         }

         .what_section_head_left {
             display: flex;
             flex-direction: column;
             gap: 12px;

             .h_text_1 {
                 font-size: calc(26px + 16 * (100vw - 320px) / 1080);
                 font-weight: 500;
                 color: #eecbaa;
             }

             .p_text_1 {
                 font-size: calc(16px + 2 * (100vw - 320px) / 1080);
                 color: #fff;
                 font-family: "Urbanist", sans-serif;
             }
         }

         .p_text_2 {
             font-size: calc(14px + 2 * (100vw - 320px) / 1080);
             font-weight: 500;
             color: #b1b1b1;
             font-family: "Urbanist", sans-serif;
         }
     }

     .what_card_container {
         width: 100%;
         height: 100%;
         margin-top: 60px;
         position: relative;

         .what_card_1 {
             position: sticky;
             top: 100px;
             z-index: 2;
         }

         .what_card_2 {
             position: sticky;
             top: 200px;
             z-index: 3;
         }

         .what_card_3 {
             position: sticky;
             top: 300px;
             z-index: 4;
         }

         .what_card_4 {
             position: sticky;
             top: 400px;
             z-index: 5;
         }

         .what_card_1.active {
             background-color: #1D0902;
         }

         .what_card_2.active {
             background-color: #270C02;
         }

         .what_card_3.active {
             background-color: #300F03;
         }

         .what_card_4.active {
             background-color: #3F1403;
         }



         .what_card {
             width: 100%;
             height: 624px;
             background-color: #3F1403;
             border-radius: 24px;
             transition: background-color 0.5s ease;

             @media (min-width: 768px) and (max-width: 991px) {
                 height: 500px;
             }


             .what_card_position {
                 width: 100%;
                 height: 100%;
                 position: relative;
                 padding: 40px;
                 display: flex;
                 justify-content: space-between;
                 align-items: flex-start;
                 gap: 10px;

                 @media (max-width: 767px) {
                     height: 600;
                     flex-direction: column;
                     padding: 28px;
                 }

                 &::before {
                     content: "";
                     width: 100%;
                     height: 100%;
                     position: absolute;
                     top: 0;
                     left: 0;
                     background: url("../../../../assets/images/what-card-background.webp");
                     background-position: center;
                     background-size: cover;
                     background-repeat: no-repeat;
                 }
             }


             .card_content {
                 width: 100%;
                 height: 100%;
                 display: flex;
                 flex-direction: column;
                 align-items: flex-start;
                 justify-content: flex-start;
                 gap: 20px;

                 .h_text_2 {
                     font-size: 38px;
                     font-weight: 500;
                     color: #ffff;

                     @media (max-width: 767px) {
                         font-size: 28px;
                     }
                 }

                 .p_text_3 {
                     width: 70%;
                     font-size: 18px;
                     font-weight: 500;
                     color: #B1B1B1;

                     @media (min-width: 768px) and (max-width: 991px) {
                         width: 100%;
                     }

                     @media (max-width: 767px) {
                         width: 100%;
                         font-size: 16px;
                     }
                 }
             }

             .card_img {
                 width: 80%;
                 height: auto;
                 margin-top: 60px;

                 @media (min-width: 768px) and (max-width: 991px) {
                     width: 50%;
                 }
                      @media (max-width: 767px) {
                         width: 100%;
                     }
             }
         }


     }


 }


 // .active_section {
 //     background: transparent;
 // }