 .what_section {
     width: 100%;
     background: #130601;
     padding: 80px 0;

     .what_section_head {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 20px;

         @media (max-width: 767px) {
             flex-direction: column;
             align-items: flex-start;
         }

         .what_section_head_left {
             display: flex;
             flex-direction: column;
             gap: 12px;

             .h_text_1 {
                 font-size: calc(26px + 16 * (100vw - 320px) / 1080);
                 font-weight: 500;
                 color: #eecbaa;
             }

             .p_text_1 {
                 font-size: calc(16px + 2 * (100vw - 320px) / 1080);
                 color: #fff;
                 font-family: "Urbanist", sans-serif;
             }
         }

         .p_text_2 {
             font-size: calc(14px + 2 * (100vw - 320px) / 1080);
             font-weight: 500;
             color: #b1b1b1;
             font-family: "Urbanist", sans-serif;
         }
     }

     .swiper_ref_container {
         width: 100%;
         height: 1100px;
         padding-top: 100px;

         @media (max-width:767px) {
             height: 900px;
             padding-top: 40px;
         }
     }

     .what_swiper_container {
         position: relative;
         width: 100%;
         height: 100%;
         overflow: hidden;

         .what_card {
             width: 100%;
             height: auto;
             padding: 40px;
             border-radius: 16px;
             display: flex;
             justify-content: space-between;
             align-items: flex-start;
             position: absolute;
             top: 0;
             left: 0;
             opacity: 0;
             transform: translateY(150px) scale(0.98);
             transition: all 0.9s ease-in-out;
             z-index: 1;

             @media (max-width:767px) {
                 height: 520px;
                 flex-direction: column;
                 padding: 28px;
             }

             &::before {
                 content: "";
                 width: 100%;
                 height: 100%;
                 position: absolute;
                 inset: 0;
                 background: url("../../../../assets/images/what-card-background-img-1.svg") no-repeat center/cover;
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: center;
                 z-index: 1;
                 border-radius: 16px;
             }

             .card_left {
                 display: flex;
                 flex-direction: column;
                 gap: 20px;

                 .h_text_2 {
                     font-size: 36px;
                     color: #fff;

                     @media (max-width:767px) {
                         font-size: 28px;
                     }
                 }

                 .p_text_3 {
                     font-size: 16px;
                     color: #b1b1b1;
                     font-family: "Urbanist", sans-serif;
                     width: 75%;

                     @media (max-width:767px) {
                         width: 100%;
                     }
                 }
             }

             .card_img {
                 margin-top: 60px;
                 border-radius: 12px;

                 @media (min-width: 768px) and (max-width:991px) {
                     width: 50%;
                 }


                 @media (max-width:767px) {
                     margin-top: 0px !important;
                     width: 100%;
                     height: auto;
                 }
             }



             &.visible {
                 opacity: 1;
                 transform: translateY(0) scale(1);
                 position: relative;
                 z-index: 3;
                 margin-top: -520px;


                 @media (max-width:767px) {
                     margin-top: -400px;
                 }


             }

             &:first-child.visible {
                 margin-top: 0;
                 background: linear-gradient(180deg, #2d0b03 0%, #1d0902 100%);
             }

             &:nth-child(2).visible {
                 background: linear-gradient(180deg, #3a0f05 0%, #270c02 100%);
             }

             &:nth-child(3).visible {
                 background: linear-gradient(180deg, #451106 0%, #300f03 100%);
             }

             &:nth-child(4).visible {
                 background: linear-gradient(180deg, #501308 0%, #3a0f05 100%);

             }
         }
     }
 }


 // .active_section {
 //     background: transparent;
 // }