 .app {
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   position: relative;
   z-index: 1;
 }

 .routes-div {
   width: 100%;
   height: 100%;
   padding-top: 80px;
 }
 .flag-dropdown  {
  width: 50px;
  height: 100%;
 }


 

 .selected-flag {
  border: none;
  background: none;
 }

 .flag-dropdown  {
  border: none !important;
  background: none !important;
 }


 .react-tel-input {
  width: 100%;  
   border-radius: 12px;

 }

 .react-tel-input .flag-dropdown .selected-flag {
  border: none !important;
  background: none !important;
   width: auto !important;
   padding-left: 8px;
   /* adjust spacing for the +code */
 }

 .react-tel-input .flag-dropdown .arrow {
   display: none;
   /* optional: remove arrow */
 }

 .in {
   display: none;
 }


 /* // <=================DESKTOP SCREENS HIDE=================> */

 @media all and (min-width: 992px) {
   .desktop-hide {
     display: none !important;
   }
 }


 /* // <=================TAB/MEDIUM SCREENS HIDE=================> */

 @media (min-width: 768px) and (max-width: 991px) {
   .tab-hide {
     display: none !important;
   }

   .tab-break {
     display: none;
   }
 }

 /* // <=================MOBILE SCREENS HIDE=================> */

 @media (max-width: 767px) {
   .mobile-hide {
     display: none !important;
   }

   .break {
     display: none;
   }

 }