.homepage {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    padding-bottom: 100px;

    @media (max-width:767px) {
        gap: 40px;
    }

    .supply_container {
        width: 100%;
        height: 100%;
  
    
    }

}